<h1>Recipes</h1>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>


<p><%= link_to "Create new recipe", new_recipe_path %></p>

<h1>Find a Recipe By Tag</h1>
<% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet.</p>
<% end %>

<p><%= link_to "Create new tag", new_tag_path %></p>