<h1>Welcome to the Recipe Box!</h1>

<h2>Recipes</h2>
<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>


<p><%= link_to "Create new recipe", new_recipe_path %></p>

<hr>

<h3>Find a Recipe By Category</h3>
<% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet.</p>
<% end %>

<p><%= link_to "Create new recipe category", new_tag_path %></p>